<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Role</th>
        <th>nick_name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getId()}">model</td>
        <td th:text="${user.getNick_name()}">nick_name</td>
        <td th:text="${user.getFirstName()}">model</td>
        <td th:text="${user.getLastName()}">model</td>
        <td th:text="${user.getRole()}">Role</td>
        <td> <a th:href="@{/users/{id}/edit (id =${user.getUser_id()})}">Update</a> </td>
        <form th:method="DELETE" th:action="@{/users/{id} (id =${user.getUser_id()})}">
            <td><input type="submit" value="DELETE"/></td>
        </form>
    </tr>
</table>

<a href="/users/new"> New User</a>
</body>
</html>