<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Role</th>
        <th>Login</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
        <td th:text="${user.getId()}">model</td>
        <td th:text="${user.getLogin()}">nick_name</td>
        <td th:text="${user.getFirstName()}">model</td>
        <td th:text="${user.getLastName()}">model</td>
        <td th:text="${user.getRole()}">Role</td>
</table>
</body>
</html>